.root {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-header {
    position: absolute;
    width: 100%;
    top: 0;
}

.header-container {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 16px;
}

.icon {
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin: 8px;
}

.home-main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

