.home-root {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (max-width: 768px) {
    .home-root {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}
