.setting-root {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 16px 16px 32px 32px;
}

@media (max-width: 768px) {
    .setting-root {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.setting-header {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    padding: 16px;
    border: 0 solid;
    border-bottom-width: 1px;
    margin-bottom: 16px;
}

.setting-header-title {
    font-weight: bold;
    font-size: 2rem;
}

.setting-main {
    display: flex;
    flex-direction: row;
    height: 100%;
}

@media (max-width: 768px) {
    .setting-main {
        flex-direction: column;
    }
}

.setting-nav {
    padding: 16px;
    border: 0 solid;
    border-right-width: 1px;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .setting-nav {
        box-sizing: border-box;
        border-right-width: 0;
        flex-direction: row;
        width: 100%;
        height: auto;
        overflow: auto;
    }

    .setting-nav::-webkit-scrollbar {
        width: 0 !important;
    }
}

.setting-nav > a {
    text-decoration: none;
    padding: 8px 32px 8px 16px;
    margin-bottom: 16px;
    margin-right: 8px;
    font-size: 1rem;
    white-space: pre;
    font-weight: 500;
}

@media (min-width: 768px) {
    .setting-nav > a:hover {
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 768px) {
    .setting-nav > a {
        padding: 8px 16px 8px 16px;
        margin-right: 8px;
    }
}

.setting-nav > .selected {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.1);
}

.settings-content {
    width: 100%;
    padding: 0 16px 0 32px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

@media (max-width: 768px) {
    .settings-content {
        padding: 0 16px;
    }
}

.setting-input {
    font-size: 1rem;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    padding: 4px;
    line-height: 150%;
}

.setting-input:focus {
    outline-style: none;
}

.slogan-textarea {
    font-size: 1.2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 8px 16px;
    line-height: 1.8rem;
    min-height: 10rem;
    resize: none;
    overflow: hidden;
}

.slogan-textarea:focus {
    outline-style: none;
}

.button-bar {
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 8px;
}

.button-bar > button {
    margin: 8px;
    font-size: 1rem;
    font-weight: 500;
    padding: 8px 1rem;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0);
}

.setting-select {
    font-size: 100%;
    border-radius: 4px;
    font-family: sans-serif;
    line-height: 1.2rem;
    align-items: center;
    padding: 2px;
    display: inline-block;
    text-align: start;
    height: auto;
    border-color: rgb(169, 169, 169);
}

.setting-select:focus {
    outline-style: none;
}